@font-face {
  font-family: 'Figtree-Variable';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Figtree-Italic';
  src: url('./assets/fonts/Figtree-Italic-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Figtree-Semibold';
  src: url('./assets/fonts/static/Figtree-SemiBold.ttf');
}
@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url('./assets/fonts/static/Figtree-ExtraBold.ttf');
}

:root {
  /* Colors */
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  justify-content: center;
  background-color: var(--clr-yellow);
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.preview_card {
  display: flex;
  flex-direction: column;
  
  /* max-height: 500px; */
  max-width: 325px;

  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid var(--clr-black);
  background-color: var(--clr-white);
  box-shadow: 7px 7px 0 0 var(--clr-black);
}

.preview_card:hover {
  box-shadow: 15px 15px 0 0 var(--clr-black);
}

.preview_card--img {
  border-radius: .75rem;
  margin-bottom: 1rem;
  max-width: 280px;
}

.topic {
  background-color: var(--clr-yellow);
  padding: .25rem .75rem;
  font-family: 'Figtree-ExtraBold';
  font-size: .75rem;
  border-radius: .35rem;
  width: min-content;
}

.date {
  padding: .75rem 0 0 0;
  font-family: 'Figtree-Semibold';
  font-size: .75rem;
}

.preview_card--title {
  color: var(--clr-black);
  font-family: 'Figtree-ExtraBold';
  font-size: 1.25rem;
  padding-top: .5rem;
  padding-bottom: 0rem;
}

.preview_card--title:hover {
  color: var(--clr-yellow);
  cursor: pointer;
}

.preview_card--text {
  color: var(--clr-grey);
  font-size: .8rem;
  padding-top: .25rem;
}

.author_info {
  display: flex;
  align-items: center;
  position: relative;
  justify-items: flex-start;
  padding-top: 1rem;
}

.author_img {
  max-width: 2rem;
  margin-right: .6rem;
}

.author_name {
  font-family: 'Figtree-ExtraBold';
  font-size: .85rem;
}

@media (min-width: 450px) {
  .preview_card {
    max-width: 350px;
  }
  .preview_card--img {
    max-width: 330px;
  }
}